

body {
  font-family: 'Arimo', sans-serif;
  background: #614385;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #516395, #614385);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #516395, #614385); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  
}

.container {
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
/*   background-color: green; */
  align-items: center;
  height: 100vh;
  
}

#display {
/*   border: 1px solid black; */
  user-select:none;
  font-size: 4rem;
}
h1 {
  font-size: 3rem;
/*   border: 1px black solid; */
}

#drum {
  display: flex;
  flex-wrap:wrap;
  
}

.drum-pad {
  user-select:none;
  border-radius: 10%;
  padding:10px;
  width: 25%;
  margin: 5px;
  font-size:3rem;
  text-align: center;
  vertical-align: middle;
/*   border: 1px solid black; */
  background-color:#21AD58;
  color: black;
  box-shadow: 5px 5px #ACAAA9;
}

.drum-pad:hover{
  transform: scale(1.1)
}

